# This file defines the additional requirements for a developer working
# with this project (e.g. for testing or useful development tools).
# The regular project dependencies are defined in environment.yml
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.10.*
  - pytest=7.*
  - pytest-cov=4.*
  - pre-commit=2.*{% if cookiecutter.code_formatter == 'black' %}
  - black=22.*{% endif %}
