# This file defines the additional requirements for a developer working
# with this project (e.g. for testing or useful development tools).
# The regular project dependencies are defined in requirements.txt{% if cookiecutter.code_formatter == 'black' %}
black~=21.9b0{% endif %}
pre-commit~=2.15.0
pytest~=6.2.0
pytest-cov~=2.12.0
