name: pytest-conda

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, 3.13]
        os: [ubuntu-latest, windows-latest]
    name: "Test: Python ${{ matrix.python-version }}, conda, ${{ matrix.os }}"
    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-activate-base: false
        python-version: ${{ matrix.python-version }}
        environment-file: environment.yml
        activate-environment: at-python-template
    # need to run tests in pwsh, or conda env won't be activated
    - name: Check conda setup
      shell: pwsh
      run: |
        conda info
        python --version
        conda list
    - name: Test with pytest
      shell: pwsh
      run: |
        python -m pytest tests
