name: pytest-pip

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, 3.13]
        os: [ubuntu-latest, windows-latest]
    name: "Test: Python ${{ matrix.python-version }}, pip, ${{ matrix.os }}"
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Test with pytest
      run: |
        pytest tests

  version-check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.9,  3.13 ]
    name: "Version Check: Python ${{ matrix.python-version }}"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Cookiecutter and dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install cookiecutter packaging
      - name: Run Version Check
        run: |
          python tests/version_check.py --fail
